APP_ENV=local
PORT=8000
MONGO_URL=127.0.0.1:27017

JWT_SECRET=yrgewyrg32434736284
JWT_EXPIRES_IN=10d

EMAIL_USER=#email for sending mail
EMAIL_PASSWORD=# app passowrd
PERSONAL_EMAIL=# email for getting mail if APP_ENV is localß

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=